# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
env/
venv/

# Ignore artifacts, models, notebooks
artifact/
model/
notebook/

# Ignore local database files and OS files
*.db
.DS_Store

# Ignore git folder
.git/
